*{
	box-sizing: border-box;
	margin: 0px;
	text-decoration-line: none;
}
body{
	font-family: "微軟正黑體";
 	margin: 0px;
}
h2{
	margin-top: 120px;
	margin-left: 40px;
}
p{
	margin-top: 5px;
	margin-left: 40px;
	font-size: 30px;
}
.p2{
	color: black;
	font-size: 100%;
}
.header{
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: black;
	color: black;
}
.logo{
	margin-left: 20px;
	font-size: 80%
}
.logo a{
	text-decoration-line: none;
	color: white;
	font-size: 100%;
}
/*input[name=search] {
 background-color: white;
 background-image: url('https://scucourse.s3.amazonaws.com/images/searchicon.png');
 background-position: 10px 10px;
 background-repeat: no-repeat;
 padding-left: 40px
 width: 100px;
 height: 30px;
 border: 0px solid #ddd;
 text-align:center;
 margin-top: -100px;
 margin-right: -100px;
}*/
/*.search{
 float: right;
 margin-right: -300px;
 margin-top: 8px;
 width: 50%;
}*/
.nav{
	width: 100%;
	margin:34px;
	margin-left: 0px;
	background-color: #444444;
}
.nav ul{
 list-style-type: none;
 background-color: #444444;
 margin-left: 50px;
 padding: 0px;
}
.nav li{
 display: inline-block;
 width: 16%;
 padding: 8px;
 background-color: #444444;
 color: #ffffff;
}
.nav a{
 text-decoration: none;
 color: white;
}
.nav a:link, a:visited{
 text-decoration: none;
 color: #fff;
}
.nav a:active{
 text-decoration: none;
 color: #fff;
}
.nav li:hover{
 border-bottom-style: solid;
 border-color: white;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 600px){
 [class*="col-"]{
  width: 100%;
 }
}

@media only screen and (min-width: 600px){
 .col-s-1 {width: 8.33%;}
 .col-s-2 {width: 16.66%;}
 .col-s-3 {width: 25%;}
 .col-s-4 {width: 33.33%;}
 .col-s-5 {width: 41.66%;}
 .col-s-6 {width: 50%;}
 .col-s-7 {width: 58.33%;}
 .col-s-8 {width: 66.66%;}
 .col-s-9 {width: 75%;}
 .col-s-10 {width: 83.33%;}
 .col-s-11 {width: 91.66%;}
 .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px){
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
}
.content{
	width: 100%;
	display: inline-block;
	/*background-color: #f1f1f1;*/
}
.leftpanel{
	float: left;
	display: inline-block;
	background-color: white;
}
.rightpanel{
	float: left;
/*	margin-top: -50px;*/
	background-color: #f1f1f1; 
}
.leftpanel2{
	float: right;
	display: inline-block;
	margin-top: 0px;
}
.leftpanel2 a{
	color: black;
	text-decoration:none;
	font-size: 150%;
	display: inline-block;
}
.rightpanel2 p{
	font-size: 100%; 
}
.rightpanel3{
	margin-left: 0px;
}
.leftpanel4 a{
	color:black;
	display: inline-block;
	font-size: 90%;
	margin-left: 5px;	
}
.leftpanel5{
	margin-left: 0px;
}
.leftpanel6 a{
	color: black;
	display: inline-block;
	font-size: 90%;
	margin-left: 5px;
}
.topfooder span{
	font-size: 90%;
	color: black;
	text-align: center;
	padding: 20px;
}
.topfooder{
	text-align: center;
}
.hr2{
width: 50%;
margin:auto;
}
.topfooder2 a{
	font-size: 90%;
	color: black;
	text-align: center;
	padding: 20px;
}
.topfooder2{
	text-align: center;
}
.topfooder span{
	padding: 20px;
}
/*[class*="col-s-11"]{
	width: 100%;
}
[class*="col-s-1"]{
	display: none;
}*/